<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>

    <appSettings>
      <add key="DataSource" value="2"/>
      <add key="ConnStrings" value="integrated security=SSPI;data source=ITRD-51942\SQLEXPRESS;persist security info=False;initial catalog=Contact;User Id=hayato;Password=3edc4rfv"/>
      
      
    </appSettings>
</configuration>